.equip{
	float: left;
	padding-right: 20px;
}
.image{
	border-radius: 10px;
	box-shadow: 12px 12px 12px #404040;

}
ul{
	margin-bottom: 50px;
	list-style-position: inside;
}
dt{
	font-weight: bold;
}
dd{
	padding-bottom: 20px;
}